footer
{
  background-color: rgba(120, 120, 120, 0.1);
}

footer > div
{
    padding: 15px;
}
footer > div:first-child
{
  color: rgba(0, 0, 0, 0.5);
  margin-left: 35px;
  border-top: 1px rgba(0, 0, 0, 0.1) solid;
  border-bottom:1px rgba(0, 0, 0, 0.1) solid;


}

footer > div:last-child
{
  color: rgba(0, 0, 0, 0.5);
  margin-left: 25px;

}

footer a
{
  color: rgba(0,0,0,0.5);
  text-decoration: none;
  font-size: 0.9em;
  padding: 8px;
}

footer a:hover
{
  color: rgba(0,0,0,0.75);
  text-decoration: underline;
}

#flottant
{
  float: right;
  margin-right: 10px;
}
